In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [2]:
bigmart = pd.read_csv('train_bm.csv')

In [3]:
bigmart.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
bigmart.nunique()

Item_Identifier              1559
Item_Weight                   415
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [6]:
bigmart['Item_Identifier'].value_counts()

FDW13    10
FDG33    10
FDU12     9
DRE49     9
NCL31     9
FDF52     9
FDP25     9
FDV60     9
FDF56     9
FDX04     9
NCQ06     9
FDD38     9
FDW49     9
FDX31     9
NCJ30     9
NCF42     9
FDO19     9
FDQ40     9
FDX20     9
FDW26     9
FDV38     9
FDG09     9
NCB18     9
FDT07     9
NCY18     9
NCI54     9
DRN47     9
FDH27     8
FDZ21     8
FDG57     8
         ..
DRG25     2
FDH22     2
NCW30     2
FDR03     2
NCX53     2
FDF38     2
FDB47     2
FDW10     2
FDW58     2
FDR57     2
FDB10     2
FDD22     2
FDU09     2
FDE39     2
FDU43     2
DRC24     2
DRI59     2
FDP15     2
NCS41     2
DRL59     2
FDZ50     2
FDN52     1
FDT35     1
FDK57     1
FDE52     1
DRF48     1
FDY43     1
FDO33     1
FDQ60     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [7]:
temp = bigmart['Item_Identifier'].value_counts()
temp.head()

FDW13    10
FDG33    10
FDU12     9
DRE49     9
NCL31     9
Name: Item_Identifier, dtype: int64

In [15]:
bigmart['Item_identifier_count'] = bigmart['Item_Identifier'].apply(lambda x:temp[x])
bigmart[['Item_Identifier','Item_identifier_count']].head()

  Item_Identifier  Item_identifier_count
0           FDA15                      8
1           DRC01                      6
2           FDN15                      7
3           FDX07                      6
4           NCD19                      6

In [20]:
for i in range(0,len(bigmart)):
    if bigmart['Item_identifier_count'][i]<4:
        bigmart['Item_Identifier'][i] = 'other'

In [21]:
bigmart.head(7)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Identifier_counts,Item_Identifier_count,Item_identifier_count
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,8,8,8
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,6,6,6
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,7,7,7
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,6,6,6
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,6,6,6
5,other,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088,3,other,3
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528,8,8,8

In [22]:
bigmart['Item_Identifier'].value_counts()

other    418
FDW13     10
FDG33     10
DRN47      9
NCF42      9
FDW26      9
FDP25      9
FDX20      9
NCL31      9
FDF56      9
NCI54      9
FDV38      9
NCQ06      9
FDF52      9
NCJ30      9
FDW49      9
NCB18      9
DRE49      9
FDD38      9
FDT07      9
FDG09      9
FDQ40      9
FDX31      9
FDX04      9
FDU12      9
NCY18      9
FDO19      9
FDV60      9
FDD29      8
FDK58      8
        ...
FDM52      4
NCZ29      4
FDX12      4
NCL17      4
FDF10      4
FDF53      4
FDA16      4
FDM34      4
FDI27      4
FDA36      4
FDB05      4
FDV36      4
DRN11      4
FDV08      4
NCP41      4
FDV12      4
NCS38      4
DRH11      4
FDS14      4
FDP32      4
FDU01      4
FDJ33      4
FDX10      4
DRI13      4
FDI58      4
FDD45      4
FDD16      4
FDY01      4
FDM09      4
NCC06      4
Name: Item_Identifier, Length: 1403, dtype: int64