# Arithmetic Operators

In [4]:
3+5

8

In [5]:
3-5

-2

In [6]:
3*5

15

In [7]:
3/5

0.6

In [9]:
"Jaydeep"+" Chawda"

'Jaydeep Chawda'

In [10]:
"Jaydeep"+" 2"

'Jaydeep 2'

In [12]:
"Jaydeep "*2

'Jaydeep Jaydeep '

In [13]:
"Jaydeep"+1

TypeError: can only concatenate str (not "int") to str

# Comparison Operators

In [14]:
45>21

True

In [15]:
24<12

False

In [17]:
12*25<25*4

False

In [19]:
21 == 21

True

# Logical Operators

In [20]:
0 and 3

0

In [21]:
3 and 0

0

In [22]:
1 and 2

2

In [25]:
2 and 1

1

In [26]:
0 or 1

1

In [27]:
1 or 0

1

In [28]:
1 or 3

1

In [29]:
3 or 1

3

In [30]:
0 or 0

0

In [31]:
3//5

0

In [32]:
5//3

1

In [33]:
5%3

2

In [34]:
3%5

3

In [35]:
15%5

0

# Data Types in Python

In [36]:
a=6

In [37]:
print(a)

6

In [38]:
A=99
print(a)
print(A)

6
99

In [39]:
b=a
a=3
print(a)
print(b)

3
6

In [44]:
_a = 5

In [45]:
print(_a)

5

In [46]:
1a=5

SyntaxError: invalid syntax (<ipython-input-46-12a452f40b4c>, line 1)

In [47]:
type(a)

int

In [48]:
b="Jay"
type(b)

str

#  Conditional Statements

In [49]:
def decide(x):
    if(x%2==0):
        print("It is even")
    else:
        print("It is odd")

In [50]:
decide(4)

It is even

In [51]:
def Grade(x):
    if(x>90):
        print("Your Grade is A")
    elif(x>60 and x<=90):
        print("Your Grade is B")
    else:
        print("Your Grade is F")

In [52]:
Grade(75)

Your Grade is B

In [53]:
Grade(98)

Your Grade is A

# Looping Constructs

In [55]:
for i in range(11,50):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [60]:
for i in range(11,50,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [61]:
for i in '':
  print(i)

# Functions

In [62]:
def  Area(r):
    area = 3.14*r*r
    return area

In [63]:
Area(5)

78.5

In [64]:
Area(2)

12.56

In [65]:
def Greater(x,y):
    if(x>y):
        return x
    else:
        return y

In [66]:
Greater(1,2)

2

In [67]:
Greater(5,17)

17

# Data Structure

In [68]:
marks = [18,17,19,12,13,10,20,9,10,4,0,1]

In [69]:
marks

[18, 17, 19, 12, 13, 10, 20, 9, 10, 4, 0, 1]

In [70]:
marks[5]

10

In [71]:
marks[0:7]

[18, 17, 19, 12, 13, 10, 20]

In [72]:
marks[0:5:2]

[18, 19, 13]

In [75]:
marks.append(3)
marks

[18, 17, 19, 12, 13, 10, 20, 9, 10, 4, 0, 1, 3, 3]

In [77]:
marks.extend([2,5])
marks

[18, 17, 19, 12, 13, 10, 20, 9, 10, 4, 0, 1, 3, 3, 2, 5, 2, 5]

In [78]:
marks.remove(20)
marks

[18, 17, 19, 12, 13, 10, 9, 10, 4, 0, 1, 3, 3, 2, 5, 2, 5]

In [81]:
marks.append([12,13])
marks

[18,
 17,
 19,
 12,
 13,
 10,
 9,
 10,
 4,
 0,
 1,
 3,
 3,
 2,
 5,
 2,
 5,
 [12, 13],
 [12, 13],
 [12, 13]]

In [87]:
marks.remove([12,13])
marks

[17, 19, 12, 13, 10, 9, 10, 4, 0, 1, 3, 3, 2, 5, 2, 5]

In [84]:
del marks[0]
marks

[17, 19, 12, 13, 10, 9, 10, 4, 0, 1, 3, 3, 2, 5, 2, 5, [12, 13]]

In [88]:
for mark in marks:
    print(mark)

17
19
12
13
10
9
10
4
0
1
3
3
2
5
2
5

In [89]:
for mark in marks:
    print(mark+1)

18
20
13
14
11
10
11
5
1
2
4
4
3
6
3
6

In [90]:
marks = {'history':45,'geodraphy':54,'English':95,'Maths':100}
marks

{'history': 45, 'geodraphy': 54, 'English': 95, 'Maths': 100}

In [91]:
marks['history']

45

In [92]:
marks['Science']=99
marks

{'history': 45, 'geodraphy': 54, 'English': 95, 'Maths': 100, 'Science': 99}

In [93]:
marks.update({'GK':82,'Moral Science':85})
marks

{'history': 45,
 'geodraphy': 54,
 'English': 95,
 'Maths': 100,
 'Science': 99,
 'GK': 82,
 'Moral Science': 85}

In [95]:
del marks['GK']
marks

{'history': 45,
 'geodraphy': 54,
 'English': 95,
 'Maths': 100,
 'Science': 99,
 'Moral Science': 85}

In [96]:
import pandas as pd

In [99]:
df = pd.read_csv('data.csv')

In [100]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [102]:
df1 = pd.read_excel('data.xlsx')

In [103]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S