In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_csv('data_cleaned.csv')

In [4]:
data.shape

(891, 25)

In [5]:
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [6]:
x = data.drop(['Survived'],axis =1)
y = data['Survived']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
train_x,test_x,train_y, test_y = train_test_split(x,y, random_state=101,stratify=y)

In [10]:
train_y.value_counts()/len(train_y)

0    0.616766
1    0.383234
Name: Survived, dtype: float64

In [11]:
test_y.value_counts()/len(test_y)

0    0.61435
1    0.38565
Name: Survived, dtype: float64

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [13]:
clf = DecisionTreeClassifier()

In [15]:
clf.fit(train_x,train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [21]:
pred = clf.predict(test_x)

In [23]:
clf.score(test_x,test_y)

0.7488789237668162

In [24]:
clf.score(train_x, train_y)

0.9880239520958084

In [25]:
from sklearn.ensemble import RandomForestClassifier

In [45]:
clf = RandomForestClassifier(n_estimators=100,max_depth=15)

In [46]:
clf.fit(train_x, train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=15, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [47]:
clf.score(train_x, train_y)

0.9850299401197605

In [48]:
clf.score(test_x, test_y)

0.7623318385650224

In [37]:
clf.feature_importances_

array([0.19950095, 0.20320048, 0.02828239, 0.01955721, 0.0495463 ,
       0.19369004, 0.16154093, 0.0167558 , 0.01569578, 0.00648222,
       0.0063384 , 0.00523999, 0.0008965 , 0.00477362, 0.01970922,
       0.01309943, 0.01059262, 0.00169144, 0.00217414, 0.00217767,
       0.00070623, 0.01450265, 0.00898518, 0.0148608 ])

In [32]:
pd.Series(clf.feature_importances_, index=train_x.columns)

Age           0.207194
Fare          0.241792
Pclass_1      0.046137
Pclass_2      0.025456
Pclass_3      0.018569
Sex_female    0.114273
Sex_male      0.187706
SibSp_0       0.015242
SibSp_1       0.018562
SibSp_2       0.004101
SibSp_3       0.004456
SibSp_4       0.006413
SibSp_5       0.000126
SibSp_8       0.004365
Parch_0       0.020473
Parch_1       0.017480
Parch_2       0.016450
Parch_3       0.003446
Parch_4       0.003876
Parch_5       0.004991
Parch_6       0.000696
Embarked_C    0.009261
Embarked_Q    0.015123
Embarked_S    0.013812
dtype: float64